
Options +FollowSymlinks
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/folder/admin/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#En ligne commenter la ligne 6 et 9 décommenter la ligne 7 et 10

#RewriteBase "/sitemike/"
RewriteBase "/"

#RewriteRule ^index\.php$ /sitemike/ [QSA,L,R=301]
RewriteRule ^index\.php$ / [QSA,L,R=301]

RewriteCond %{HTTPS} !=on
RewriteRule .* https://mikaelfreva.com%{REQUEST_URI} [R=301,L]
#HTTP STRICT TRANSPORT SECURITY
Header set Strict-Transport-Security: max-age=31536000 env=HTTPS

ErrorDocument 404 /404.php

<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Video
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Others
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^mikaelfreva\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mikaelfreva\.com$
RewriteRule ^/?$ "https\:\/\/mikaelfreva\.com\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^pp\.pp\,pppp_frmi6014\.odns\.fr$ [OR]
RewriteCond %{HTTP_HOST} ^www\.pp\.pp\,pppp_frmi6014\.odns\.fr$
RewriteRule ^/?$ "https\:\/\/pppp\.frmi6014\.odns\.fr\/" [R=301,L]

